*{
    background-color: black;
    color: white;
}
#tabela{
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
#coluna{
    font-size: 20px;
    padding: 5px;
}
#con{
    display: inline;
}
iframe {
    width: 100%;
    height: 30%;
    margin-bottom: 8px;
}
#tit{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
